<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Students</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'createStudent' %}">Create Student</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'changePassword' userId=request.session.userId %}">Change Password</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container justify-content-center">
  <h2>Change Password</h2>
  {% if response == "Password changed" %}
  <div class="alert alert-success">
    <strong>{{ response }}</strong>
  </div>
  {% endif %}
  {% if error_message != "" %}
  <div class="alert alert-danger">
    <strong>{{ error_message }}</strong>
  </div>
  {% endif %}
  <form class="form-horizontal" action="{% url 'changePassword' userId=request.session.userId %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="old_password">Old Password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="old_password" placeholder="User ID" name="old_password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="new_password">New Password:</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="new_password" placeholder="New Password" name="new_password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-default">Change</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>