<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Students</a>
    </div>
    <ul class="nav navbar-nav">
      {% if request.session.userId %}
      <li><a href="{% url 'createStudent' %}">Create Student</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.session.userId %}
      <li><a href="{% url 'changePassword' userId=request.session.userId %}">Change Password</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
  
<div class="container justify-content-center">
  <h2>Create Student</h2>
  {% if response == "Student Created" %}
  <div class="alert alert-success">
    <strong>{{ response }}</strong>
  </div>
  {% endif %}
  {% if error_message != "" %}
  <div class="alert alert-danger">
    <strong>{{ error_message }}</strong>
  </div>
  {% endif %}
  <form class="form-horizontal" action="{% url 'addStudent' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="roll_no">Roll Number:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="roll_no" placeholder="Roll Number" name="roll_no">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="class">Class:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="class" placeholder="Class" name="class">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="school">School:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="school" placeholder="School" name="school">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="mobile">Mobile:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="mobile" placeholder="Mobile" name="mobile">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="address" placeholder="Address" name="address">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="maths">Maths:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="maths" placeholder="Maths" name="maths">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="physics">Physics:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="physics" placeholder="Physics" name="physics">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="chemistry">Chemistry:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="chemistry" placeholder="Chemistry" name="chemistry">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="biology">Biology:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="biology" placeholder="Biology" name="biology">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="english">English:</label>
      <div class="col-sm-4">
        <input type="number" class="form-control" id="english" placeholder="English" name="english">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
