<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Students</a>
    </div>
    <ul class="nav navbar-nav">
      {% if request.session.userId %}
      <li><a href="{% url 'createStudent' %}">Create Student</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.session.userId %}
      <li><a href="{% url 'changePassword' userId=request.session.userId %}">Change Password</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Students List</h2>
  <form class="form-horizontal" action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="search" placeholder="Search student" name="search">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">search</button>
      </div>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Roll Number</th>
        <th>Name</th>
        <th>Class</th>
        <th>School</th>
        <th>Mobile</th>
        <th>Address</th>
        {% if request.session.userId %}<th>Actions</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.roll_no }}</td>
        <td><a href="{% url 'viewStudent' rollNo=student.roll_no %}">{{ student.name }}</a></td>
        <td>{{ student.Class }}</td>
        <td>{{ student.school }}</td>
        <td>{{ student.mobile }}</td>
        <td>{{ student.address }}</td>
        {% if request.session.userId %}
        <td>
          <a href="{% url 'updateStudent' rollNo=student.roll_no %}"><button type="submit" class="btn btn-default">Update</button></a>
          <a href="{% url 'deleteStudent' rollNo=student.roll_no %}"><button type="submit" class="btn btn-default">Delete</button></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
