<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <br>
  <form class="form-horizontal" action="{% url 'searchWebsite' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="col-sm-4">
        <input type="text" class="form-control" id="search" placeholder="Search Website" name="search">
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-default">search</button>
      </div>
    </div>
  </form>
  <br><br>
  {% if urls %}
  {% for url in urls %}
  <p>{{ url }}</p><br>
  {% endfor %}
  {% endif %}
</div>

</body>
</html>