<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Students</a>
    </div>
    <ul class="nav navbar-nav">
      {% if request.session.userId %}
      <li><a href="{% url 'createStudent' %}">Create Student</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.session.userId %}
      <li><a href="{% url 'changePassword' userId=request.session.userId %}">Change Password</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container table-responsive-sm">
  <h2>{{ student_object.name }} Academics</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Roll Number</td>
        <td>{{ student_object.roll_no }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ student_object.name }}</td>
      </tr>
      <tr>
        <td>Class</td>
        <td>{{ student_object.Class }}</td>
      </tr>
      <tr>
        <td>School</td>
        <td>{{ student_object.school }}</td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td>{{ student_object.mobile }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ student_object.address }}</td>
      </tr>
      <tr>
        <td>Maths</td>
        <td>{{ student_academics.maths }}</td>
      </tr>
      <tr>
        <td>Physics</td>
        <td>{{ student_academics.physics }}</td>
      </tr>
      <tr>
        <td>Chemistry</td>
        <td>{{ student_academics.chemistry }}</td>
      </tr>
      <tr>
        <td>Biology</td>
        <td>{{ student_academics.maths }}</td>
      </tr>
      <tr>
        <td>English</td>
        <td>{{ student_academics.english }}</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
